<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 base_link openni_camera 40" />

  <!--<include file="$(find openni_camera)/launch/openni_node.launch"/>-->
  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="false" output="screen" >
    <!-- see rgbslam_sample_config.launch for all available parameters and their default values -->
    <param name="config/topic_image_mono"              value="/camera/rgb/image_raw"/> <!--could also be color -->
  	<param name="config/topic_image_depth"             value="/camera/depth/image"/>
 </node>
  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find rgbdslam)/launch/rviz_config.vcg" respawn="false" output="log" > </node-->
  <!--node pkg="rxtools" type="rxconsole" name="rxconsole" output="log" > </node-->
</launch>
