<launch>
  <!-- kinect -->
  <include file="$(find openni_camera)/launch/openni_node.launch"/>

  <!-- openni_manager -->
  <node pkg="nodelet" type="nodelet" name="openni_manager" output="screen" respawn="true" args="manager"/>
  
  <!-- pointcloud_to_laserscan -->
  <node pkg="nodelet" type="nodelet" name="kinect_laser" args="load pointcloud_to_laserscan/CloudToScan openni_manager">
    <param name="output_frame_id" value="/openni_depth_frame"/>
    <param name="scan_time" value="1/10.0"/>
    <remap from="cloud" to="camera/depth/points"/>
  </node>
</launch>
