<launch>
  <!-- Hardcoded tfs -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="-.1143 0.0 .4191 0.0 0.0 0.0 base_link pan_base 100" />

  <!-- rviz config -->
  <node pkg="rviz" type="rviz" name="rviz" 
    args="-d /home/robotics/ros_workspace/hmc-robot-code/mb2dslam/camera.vcg"/>
  
  <!-- gmapping params -->
  <node pkg="svngmap" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="scan" value="scan" />
    <param name="base_frame" value="openni_camera"/> 
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="iterations" value="7"/>
    <param name="linearUpdate" value="0.25"/>
    <param name="angularUpdate" value="0.262"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="75" />
    <param name="stt" value=".3"/>
    <param name="str" value=".2"/>
    <param name="srt" value=".3"/>
    <param name="srr" value=".1"/>
    <param name="maxUrange" value="8"/>
    <param name="maxRange" value="10"/>
  </node>

  <!-- nav -->
  <!-- <include file="explore/explore_slam.xml" /> -->
  <!-- <include file="explore/move.xml" /> -->
</launch>
