<launch>
  <param name="use_sim_time" value="true"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" --> 
    <!--   args="-.1143 0.0 .4891 0.0 0.0 0.0 base_link pan_base 40" />            -->

  <!-- gmapping params -->
  <node pkg="svngmap" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="scan" value="scan" />
    <param name="base_frame" value="openni_camera"/> 
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="iterations" value="6"/>
    <param name="linearUpdate" value="0.25"/>
    <param name="angularUpdate" value="0.15"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.70"/>
    <param name="particles" value="110"/>
    <param name="stt" value=".0000000015"/>
    <param name="str" value=".0015"/>
    <param name="srt" value=".0015"/>
    <param name="srr" value=".0004444"/>
    <param name="maxUrange" value="9"/>
    <param name="maxRange" value="10.9"/>
    <param name="kernelSize" value="1"/>
    <param name="max_update_interval" value="60.0"/>
    <param name="delta" value="0.05"/>
    <param name="lstep" value="0.1"/>
    <param name="astep" value="0.1"/>
  </node>

 <node pkg="rosbag" type="play" name="rb" args="--clock /home/robotics/ros_workspace/data/bl09_small.bag -r 1.0 -s 0"/>
 <node pkg="rviz" type="rviz" name="rviz" args="-d /home/robotics/ros_workspace/hmc-robot-code/mb2dslam/wocamera.vcg"/>
</launch>
