<launch>
  <!-- kinect -->
  <include file="$(find openni_camera)/launch/openni_node.launch"/>

  <include file="$(find kinect_pan)/controller_manager.launch"/>
  <node name="pantf" pkg="kinect_pan" type="kinecttf.py"/>
  <!-- MuddBot -->
  <node name="muddbot" pkg="irobot_mudd" type="driver.py">
    <param name="port" value="/dev/ttyUSB1"/>
  </node> 

  <!-- openni_manager -->
  <node pkg="nodelet" type="nodelet" name="openni_manager" output="screen" respawn="true" args="manager"/>

  <node pkg="nodelet" type="nodelet" name="cloud_throttle" args="load pointcloud_to_laserscan/CloudThrottle openni_manager">
    <param name="max_rate" value="5"/>
    <remap from="cloud_in" to="/camera/depth/points"/>
    <remap from="cloud_out" to="cloud_throttled"/>
  </node>
  
  <!-- pointcloud_to_laserscan -->
  <node pkg="nodelet" type="nodelet" name="kinect_laser" args="load pointcloud_to_laserscan/CloudToScan openni_manager">
    <param name="output_frame_id" value="/openni_depth_frame"/>
    <param name="scan_time" value="1/5.0"/>
    <remap from="cloud" to="cloud_throttled"/>
  </node>

  <node name="sdplay" pkg="sound_play" type="soundplay_node.py"/>
  <node name="record" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="bitrate" value="128"/>
  </node>
</launch>
