<launch>
  <!-- static tf -->
  <node name="odom_to_vis_odom" pkg="tf" type="static_transform_publisher" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 viz_odom odom 40"/>

  <!-- fovis -->
  <node name="fovis" pkg="visOdom" type="odomPub" output="screen"/>

  <!-- MuddBot -->
  <node name="muddbot" pkg="irobot_mudd" type="driver.py"/>
  <node name="muddbotJoy" pkg="irobot_mudd" type="joy.py"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
