<launch>
  <!-- Hardcoded tfs -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
    args="-.1143 0.0 .4891 0.0 0.0 0.0 base_link pan_base 40" />

  <param name="robot_description" textfile="$(find irobot_mudd)/description/testurdf.xml"/>
  <!-- rviz config -->
  <node pkg="rviz" type="rviz" name="rviz" 
    args="-d /home/robotics/ros_workspace/hmc-robot-code/mb2dslam/camera.vcg"/>


  <!--- Run gmapping -->
  <include file="$(find turtlebot_navigation)/config/gmapping_turtlebot.launch" />

  <!--- Run Move Base -->
  <include file="$(find turtlebot_navigation)/config/move_base_turtlebot.launch" />

</launch>
