<launch>

  <!--- Run the kinect -->
  <include file="$(find openni_camera)/launch/openni_node.launch" />

  <!-- Run the robot -->
  <node name="muddBot" pkg="irobot_mudd" type="driver.py">
    <param name="port" value="/dev/ttyUSB1"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
    args="-.1143 0.0 .4728 0.0 0.0 0.0 base_link pan_base 40" />

  <include file="$(find kinect_pan)/controller_manager.launch"/>
  <node name="pantf" pkg="kinect_pan" type="kinecttf.py"/>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find mb_nav)/config/rvizLaptopSettings.vcg" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find mb_nav)/maps/hotCocoaMap.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find mb_nav)/config/amcl.launch" />

  <!--- Run Move Base -->
  <include file="$(find mb_nav)/config/move_base.launch" />

</launch>
