<launch>
  <!-- gmapping params -->
  <node pkg="svngmap" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam command="load" file="$(find slam2dDemo)/config/gmapping_params.yaml"/>
  </node>

  <!-- Loading the display -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam2dDemo)/config/wocamera.vcg"/>
</launch>
